{% extends "base.html" %}
{% load i18n static %}
{% block content %}
    <!-- Navbar-->
    {% include 'shared/nav.html' %}
    <!--Navbar End -->
     <!-- Banner-->
    {% include 'shared/secondbanner.html' %}
    <!--Navbar End -->

    <!-- Index-->
    <div class="main">
        <section class="module-medium">
          <div class="container">
            <div class="row multi-columns-row">
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="content-box">
                  <div class="content-box-image"><img src="assets/images/finance/finance1.jpg" alt="Consult With Us"/></div>
                  <h3 class="content-box-title font-serif">Consult With Us</h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id pariatur molestiae illum cum facere deserunt a enim harum eaque fugit.
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="content-box">
                  <div class="content-box-image"><img src="assets/images/finance/finance2.jpg" alt="Take Proper Strategy"/></div>
                  <h3 class="content-box-title font-serif">Take Proper Strategy</h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id pariatur molestiae illum cum facere deserunt a enim harum eaque fugit.
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="content-box">
                  <div class="content-box-image"><img src="assets/images/finance/finance3.jpg" alt="Grow Business Bigger"/></div>
                  <h3 class="content-box-title font-serif">Grow Business Bigger</h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id pariatur molestiae illum cum facere deserunt a enim harum eaque fugit.
                </div>
              </div>
            </div>
          </div>
        </section>
         <section class="module bg-dark-60 parallax-bg" data-background="assets/images/finance/finance_funfact_bg.jpg" style="background-position: 50% 15%;">
          <div class="container">
            <div class="row multi-columns-row">
              <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="count-item mb-sm-40">
                  <div class="count-icon"><span class="icon-target"></span></div>
                  <h3 class="count-to font-alt" data-countto="85"></h3>
                  <h5 class="count-title font-serif">Successful Projects</h5>
                </div>
              </div>
              <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="count-item mb-sm-40">
                  <div class="count-icon"><span class="icon-bargraph"></span></div>
                  <h3 class="count-to font-alt" data-countto="134"></h3>
                  <h5 class="count-title font-serif">Analytics Report</h5>
                </div>
              </div>
              <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="count-item mb-sm-40">
                  <div class="count-icon"><span class="icon-trophy"></span></div>
                  <h3 class="count-to font-alt" data-countto="26"></h3>
                  <h5 class="count-title font-serif">Award Winning</h5>
                </div>
              </div>
              <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="count-item mb-sm-40">
                  <div class="count-icon"><span class="icon-happy"></span></div>
                  <h3 class="count-to font-alt" data-countto="790"></h3>
                  <h5 class="count-title font-serif">Happy Customers</h5>
                </div>
              </div>
            </div>
          </div>
        </section>
         <hr class="divider-w">
        <section class="module" id="team">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">Meet Our Team</h2>
                <div class="module-subtitle font-serif">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</div>
              </div>
            </div>
            <div class="row">
              <div class="owl-carousel text-center" data-items="4" data-pagination="true" data-navigation="false">
                <div class="owl-item">
                  <div class="col-sm-12 mb-sm-20 wow fadeInUp">
                    <div class="team-item">
                      <div class="team-image"><img src="assets/images/team-1.jpg" alt="Member Photo"/>
                        <div class="team-detail">
                          <h5 class="font-alt">Hi all</h5>
                          <p class="font-serif">Lorem ipsum dolor sit amet, consectetur adipiscing elit lacus, a&amp;nbsp;iaculis diam.</p>
                          <div class="team-social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i class="fa fa-skype"></i></a></div>
                        </div>
                      </div>
                      <div class="team-descr font-alt">
                        <div class="team-name">Jim Stone</div>
                        <div class="team-role">Art Director</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="owl-item">
                  <div class="col-sm-12 mb-sm-20 wow fadeInUp">
                    <div class="team-item">
                      <div class="team-image"><img src="assets/images/team-2.jpg" alt="Member Photo"/>
                        <div class="team-detail">
                          <h5 class="font-alt">Good day</h5>
                          <p class="font-serif">Lorem ipsum dolor sit amet, consectetur adipiscing elit lacus, a&amp;nbsp;iaculis diam.</p>
                          <div class="team-social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i class="fa fa-skype"></i></a></div>
                        </div>
                      </div>
                      <div class="team-descr font-alt">
                        <div class="team-name">Andy River</div>
                        <div class="team-role">Creative director</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="owl-item">
                  <div class="col-sm-12 mb-sm-20 wow fadeInUp">
                    <div class="team-item">
                      <div class="team-image"><img src="assets/images/team-3.jpg" alt="Member Photo"/>
                        <div class="team-detail">
                          <h5 class="font-alt">Hello</h5>
                          <p class="font-serif">Lorem ipsum dolor sit amet, consectetur adipiscing elit lacus, a&amp;nbsp;iaculis diam.</p>
                          <div class="team-social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i class="fa fa-skype"></i></a></div>
                        </div>
                      </div>
                      <div class="team-descr font-alt">
                        <div class="team-name">Adele Snow</div>
                        <div class="team-role">Account manager</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="owl-item">
                  <div class="col-sm-12 mb-sm-20 wow fadeInUp">
                    <div class="team-item">
                      <div class="team-image"><img src="assets/images/team-4.jpg" alt="Member Photo"/>
                        <div class="team-detail">
                          <h5 class="font-alt">Yes, it's me</h5>
                          <p class="font-serif">Lorem ipsum dolor sit amet, consectetur adipiscing elit lacus, a&amp;nbsp;iaculis diam.</p>
                          <div class="team-social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i class="fa fa-skype"></i></a></div>
                        </div>
                      </div>
                      <div class="team-descr font-alt">
                        <div class="team-name">Dylan Woods</div>
                        <div class="team-role">Developer</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="owl-item">
                  <div class="col-sm-12 mb-sm-20 wow fadeInUp">
                    <div class="team-item">
                      <div class="team-image"><img src="assets/images/team-1.jpg" alt="Member Photo"/>
                        <div class="team-detail">
                          <h5 class="font-alt">Hi all</h5>
                          <p class="font-serif">Lorem ipsum dolor sit amet, consectetur adipiscing elit lacus, a&amp;nbsp;iaculis diam.</p>
                          <div class="team-social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i class="fa fa-skype"></i></a></div>
                        </div>
                      </div>
                      <div class="team-descr font-alt">
                        <div class="team-name">Jim Stone</div>
                        <div class="team-role">Art Director</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="owl-item">
                  <div class="col-sm-12 mb-sm-20 wow fadeInUp">
                    <div class="team-item">
                      <div class="team-image"><img src="assets/images/team-2.jpg" alt="Member Photo"/>
                        <div class="team-detail">
                          <h5 class="font-alt">Good day</h5>
                          <p class="font-serif">Lorem ipsum dolor sit amet, consectetur adipiscing elit lacus, a&amp;nbsp;iaculis diam.</p>
                          <div class="team-social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i class="fa fa-skype"></i></a></div>
                        </div>
                      </div>
                      <div class="team-descr font-alt">
                        <div class="team-name">Andy River</div>
                        <div class="team-role">Creative director</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="owl-item">
                  <div class="col-sm-12 mb-sm-20 wow fadeInUp">
                    <div class="team-item">
                      <div class="team-image"><img src="assets/images/team-3.jpg" alt="Member Photo"/>
                        <div class="team-detail">
                          <h5 class="font-alt">Hello</h5>
                          <p class="font-serif">Lorem ipsum dolor sit amet, consectetur adipiscing elit lacus, a&amp;nbsp;iaculis diam.</p>
                          <div class="team-social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i class="fa fa-skype"></i></a></div>
                        </div>
                      </div>
                      <div class="team-descr font-alt">
                        <div class="team-name">Adele Snow</div>
                        <div class="team-role">Account manager</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="owl-item">
                  <div class="col-sm-12 mb-sm-20 wow fadeInUp">
                    <div class="team-item">
                      <div class="team-image"><img src="assets/images/team-4.jpg" alt="Member Photo"/>
                        <div class="team-detail">
                          <h5 class="font-alt">Yes, it's me</h5>
                          <p class="font-serif">Lorem ipsum dolor sit amet, consectetur adipiscing elit lacus, a&amp;nbsp;iaculis diam.</p>
                          <div class="team-social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i class="fa fa-skype"></i></a></div>
                        </div>
                      </div>
                      <div class="team-descr font-alt">
                        <div class="team-name">Dylan Woods</div>
                        <div class="team-role">Developer</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="owl-item">
                  <div class="col-sm-12 mb-sm-20 wow fadeInUp">
                    <div class="team-item">
                      <div class="team-image"><img src="assets/images/team-1.jpg" alt="Member Photo"/>
                        <div class="team-detail">
                          <h5 class="font-alt">Hi all</h5>
                          <p class="font-serif">Lorem ipsum dolor sit amet, consectetur adipiscing elit lacus, a&amp;nbsp;iaculis diam.</p>
                          <div class="team-social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i class="fa fa-skype"></i></a></div>
                        </div>
                      </div>
                      <div class="team-descr font-alt">
                        <div class="team-name">Jim Stone</div>
                        <div class="team-role">Art Director</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="module bg-dark-60" data-background="assets/images/section-6.jpg">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <div class="video-box">
                  <div class="video-box-icon"><a class="video-pop-up" href="https://www.youtube.com/watch?v=TTxZj3DZiIM"><span class="icon-video"></span></a></div>
                  <div class="video-title font-alt">Presentation</div>
                  <div class="video-subtitle font-alt">Watch the video about our new products</div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="module-small bg-dark p-0">
          <div class="container">
            <div class="row client">
              <div class="owl-carousel text-center" data-items="6" data-pagination="false" data-navigation="false">
                <div class="owl-item">
                  <div class="col-sm-12">
                    <div class="client-logo"><img src="assets/images/client-logo-1.png" alt="Client Logo"/></div>
                  </div>
                </div>
                <div class="owl-item">
                  <div class="col-sm-12">
                    <div class="client-logo"><img src="assets/images/client-logo-2.png" alt="Client Logo"/></div>
                  </div>
                </div>
                <div class="owl-item">
                  <div class="col-sm-12">
                    <div class="client-logo"><img src="assets/images/client-logo-3.png" alt="Client Logo"/></div>
                  </div>
                </div>
                <div class="owl-item">
                  <div class="col-sm-12">
                    <div class="client-logo"><img src="assets/images/client-logo-4.png" alt="Client Logo"/></div>
                  </div>
                </div>
                <div class="owl-item">
                  <div class="col-sm-12">
                    <div class="client-logo"><img src="assets/images/client-logo-5.png" alt="Client Logo"/></div>
                  </div>
                </div>
                <div class="owl-item">
                  <div class="col-sm-12">
                    <div class="client-logo"><img src="assets/images/client-logo-1.png" alt="Client Logo"/></div>
                  </div>
                </div>
                <div class="owl-item">
                  <div class="col-sm-12">
                    <div class="client-logo"><img src="assets/images/client-logo-2.png" alt="Client Logo"/></div>
                  </div>
                </div>
                <div class="owl-item">
                  <div class="col-sm-12">
                    <div class="client-logo"><img src="assets/images/client-logo-3.png" alt="Client Logo"/></div>
                  </div>
                </div>
                <div class="owl-item">
                  <div class="col-sm-12">
                    <div class="client-logo"><img src="assets/images/client-logo-4.png" alt="Client Logo"/></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="module" id="news">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">Latest blog posts</h2>
                <div class="module-subtitle font-serif">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</div>
              </div>
            </div>
            <div class="row multi-columns-row post-columns">
              <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="post mb-20">
                  <div class="post-thumbnail"><a href="#"><img src="assets/images/post-1.jpg" alt="Blog-post Thumbnail"/></a></div>
                  <div class="post-header font-alt">
                    <h2 class="post-title"><a href="#">Our trip to the Alps</a></h2>
                    <div class="post-meta">By&nbsp;<a href="#">Mark Stone</a>&nbsp;| 23 November | 3 Comments
                    </div>
                  </div>
                  <div class="post-entry">
                    <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                  </div>
                  <div class="post-more"><a class="more-link" href="#">Read more</a></div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="post mb-20">
                  <div class="post-thumbnail"><a href="#"><img src="assets/images/post-2.jpg" alt="Blog-post Thumbnail"/></a></div>
                  <div class="post-header font-alt">
                    <h2 class="post-title"><a href="#">Shore after the tide</a></h2>
                    <div class="post-meta">By&nbsp;<a href="#">Andy River</a>&nbsp;| 11 November | 4 Comments
                    </div>
                  </div>
                  <div class="post-entry">
                    <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                  </div>
                  <div class="post-more"><a class="more-link" href="#">Read more</a></div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="post mb-20">
                  <div class="post-thumbnail"><a href="#"><img src="assets/images/post-3.jpg" alt="Blog-post Thumbnail"/></a></div>
                  <div class="post-header font-alt">
                    <h2 class="post-title"><a href="#">We in New Zealand</a></h2>
                    <div class="post-meta">By&nbsp;<a href="#">Dylan Woods</a>&nbsp;| 5 November | 15 Comments
                    </div>
                  </div>
                  <div class="post-entry">
                    <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                  </div>
                  <div class="post-more"><a class="more-link" href="#">Read more</a></div>
                </div>
              </div>
            </div>
          </div>
        </section>
         <section class="module bg-dark-60 request-cta" data-background="assets/images/finance/rqst_bg.jpg">
          <div class="container">
            <div class="row">
              <div class="col-sm-4">
                <h2 class="font-alt">Request a call back</h2>
                <p>Would you like to speak to one of our financial advisers over the phone? Just submit your details and we’ll be in touch shortly. You can also email us if you would prefer.</p>
              </div>
              <div class="col-sm-8">
                <div class="row">
                  <form class="form rqst-form" id="requestACall" role="form" method="post" action="php/request_call.php">
                    <div class="form-group col-sm-6 col-xs-12">
                      <input class="form-control input-lg" type="text" name="name" placeholder="Name"/>
                    </div>
                    <div class="form-group col-sm-6 col-xs-12">
                      <select class="form-control input-lg" name="subject">
                        <option value="subject1" disabled="" selected="">Subject</option>
                        <option value="BusinessConsulting">Business consulting</option>
                        <option value="MarketingStrategy">Marketing Strategy</option>
                        <option value="TaxesAdvisory">Taxes Advisory</option>
                        <option value="InvestmentPlanning">Investment Planning</option>
                        <option value="ITManagement">IT Management</option>
                        <option value="DataAnalytics">Data Analytics</option>
                      </select>
                    </div>
                    <div class="form-group col-sm-6 col-xs-12">
                      <input class="form-control input-lg" type="text" name="phone" placeholder="Phone Number"/>
                    </div>
                    <div class="form-group col-sm-6 col-xs-12">
                      <button class="btn btn-border-w btn-circle btn-block" id="racSubmit" type="submit"><i class="fa fa-paper-plane-o"></i> Submit</button>
                    </div>
                    <div id="requestFormResponse"></div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </section>
         <section class="module pt-0 pb-0" id="contact">
          <div class="row position-relative m-0">
            <div class="col-xs-12 col-md-6">
              <div class="row finance-image-content">
                <div class="col-md-10 col-md-offset-1">
                  <h2 class="module-title font-alt align-left">Get in touch</h2>
                  <form id="contactForm" role="form" method="post" action="php/contact.php">
                    <div class="form-group">
                      <label class="sr-only" for="name">Name</label>
                      <input class="form-control" type="text" id="name" name="name" placeholder="Your Name*" required="required" data-validation-required-message="Please enter your name."/>
                      <p class="help-block text-danger"></p>
                    </div>
                    <div class="form-group">
                      <label class="sr-only" for="email">Email</label>
                      <input class="form-control" type="email" id="email" name="email" placeholder="Your Email*" required="required" data-validation-required-message="Please enter your email address."/>
                      <p class="help-block text-danger"></p>
                    </div>
                    <div class="form-group">
                      <textarea class="form-control" rows="7" id="message" name="message" placeholder="Your Message*" required="required" data-validation-required-message="Please enter your message."></textarea>
                      <p class="help-block text-danger"></p>
                    </div>
                    <div class="text-center">
                      <button class="btn btn-block btn-round btn-d" id="cfsubmit" type="submit">Submit</button>
                    </div>
                  </form>
                  <div class="ajax-response font-alt" id="contactFormResponse"></div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-md-6 col-md-offset-6 side-image p-0">
              <section id="map-section">
                <div id="map"></div>
              </section>
            </div>
          </div>
        </section>
    </div>
    <!--Index End -->

    <!-- Footer-->
    {% include 'shared/footer.html' %}
    <!--Footer End -->
{% endblock %}
 
 