{% load static %}     
<!--<li> tags create the individual christmas lights. we're going to have 43 -->
 <ul class="strand">
   <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
 <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <h2 class="module-title font-alt">OFFER SECTION</h2>
   <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
 <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  </ul>
  <section class="module sliding-portfolio">
          <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
            </div>
          </div>
          <div class="container-fluid">
            <div class="row">
              <div class="owl-carousel text-center" data-items="4" data-pagination="false" data-navigation="false">
                <div class="owl-item">
                  <div class="col-sm-12">
                    <div class="work-item"><a href="#">
                        <div class="work-image"><img src="{% static "images/owl-items/6711.jpg"%}" alt="Portfolio Item"/></div>
                        <div class="work-caption font-alt">
                          <h3 class="work-title">Corporate Identity</h3>
                          <div class="work-descr">Illustration</div>
                        </div></a></div>
                  </div>
                </div>
                <div class="owl-item">
                  <div class="col-sm-12">
                    <div class="work-item"><a href="#">
                        <div class="work-image"><img src="{% static "images/owl-items/11140.jpg"%}" alt="Portfolio Item"/></div>
                        <div class="work-caption font-alt">
                          <h3 class="work-title">Bag MockUp</h3>
                          <div class="work-descr">Marketing</div>
                        </div></a></div>
                  </div>
                </div>
                <div class="owl-item">
                  <div class="col-sm-12">
                    <div class="work-item"><a href="#">
                        <div class="work-image"><img src="{% static "images/owl-items/170.jpg"%}" alt="Portfolio Item"/></div>
                        <div class="work-caption font-alt">
                          <h3 class="work-title">Disk Cover</h3>
                          <div class="work-descr">Illustration</div>
                        </div></a></div>
                  </div>
                </div>
                <div class="owl-item">
                  <div class="col-sm-12">
                    <div class="work-item"><a href="#">
                        <div class="work-image"><img src="{% static "images/owl-items/9394.jpg"%}" alt="Portfolio Item"/></div>
                        <div class="work-caption font-alt">
                          <h3 class="work-title">Corporate Identity</h3>
                          <div class="work-descr">Illustration</div>
                        </div></a></div>
                  </div>
                </div>
                <div class="owl-item">
                  <div class="col-sm-12">
                    <div class="work-item"><a href="#">
                        <div class="work-image"><img src="{% static "images/owl-items/53384.jpg"%}" alt="Portfolio Item"/></div>
                        <div class="work-caption font-alt">
                          <h3 class="work-title">Bag MockUp</h3>
                          <div class="work-descr">Marketing</div>
                        </div></a></div>
                  </div>
                </div>
                <div class="owl-item">
                  <div class="col-sm-12">
                    <div class="work-item"><a href="#">
                        <div class="work-image"><img src="{% static "images/owl-items/Job1-01.jpg"%}" alt="Portfolio Item"/></div>
                        <div class="work-caption font-alt">
                          <h3 class="work-title">Disk Cover</h3>
                          <div class="work-descr">Illustration</div>
                        </div></a></div>
                  </div>
                </div>
              </div>
            </div>
            </div>
        </section>
   <!-- News-section -->  
    <section class="news-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="titie-section wow fadeInDown animated ">
                        <h2 class="module-title font-alt">STREAMS</h2>
                        </div>
                    </div>
                </div>
                <div class="row" >
                    <div class="col-sm-4 wow fadeInDown animated" data-wow-delay="0.2s">
                        <div class="blog-item">
                            <a href="#"><img src="{% static "images/21350.jpg"%}" width="350" height="262" alt=""></a>
                            <h3><a class="btn btn-border-w btn-circle" href="">SCIENCE</a> </h3>
                    </div>
                    </div>
                    <div class="col-sm-4 wow fadeInDown animated" data-wow-delay="0.4s">
                        <div class="blog-item">
                            <a href="#"><img src="{% static "images/21339.jpg"%}" width="350" height="262" alt=""></a>
                            <h3><a class="btn btn-border-w btn-circle" href="">COMMERCE</a> </h3>
                      </div>
                    </div>
                    <div class="col-sm-4 wow fadeInDown animated" data-wow-delay="0.6s">
                        <div class="blog-item">
                            <a href="#"><img src="{% static "images/20700.jpg"%}" width="350" height="262" alt=""></a>
                            <h3><a class="btn btn-border-w btn-circle" href="">HUMANILITES</a></h3>
                            </div>
                        </div>
                     </div>
                </div>
      </section>
        <!--main-showcase --> 
        <div class="main showcase-page">
        <section class="module-extra-small bg-dark">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-md-8 col-lg-9">
                <div class="callout-text font-alt">
                  <h4 style="margin-top: 0px; font-;"></h4>
                  <p style="margin-bottom: 0px;">LOOKING For you!</p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="module-medium" id="demos">
          <div class="container">
            <div class="row multi-columns-row">
              <div class="col-md-4 col-sm-6 col-xs-12"><a class="content-box" href="">
                  <div class="content-box-image"><img src="{% static "images/harry-knight-mLavRTnVZM4-unsplash.jpg"%}" alt="Main Demo"></div>
                  <h3 class="content-box-title font-serif">colleges</h3></a></div>
              <div class="col-md-4 col-sm-6 col-xs-12"><a class="content-box" href="index_agency.html">
                  <div class="content-box-image"><img src="{% static "images/2518945.jpg"%}" alt="Agency"></div>
                  <h3 class="content-box-title font-serif">coaching-classes</h3></a></div>
              <div class="col-md-4 col-sm-6 col-xs-12"><a class="content-box" href="">
                  <div class="content-box-image"><img src="{% static "images/6534.jpg"%}" alt="Portfolio"></div>
                  <h3 class="content-box-title font-serif">Sports-classes</h3></a></div>
              <div class="col-md-4 col-sm-6 col-xs-12"><a class="content-box" href="index_restaurant.html">
                  <div class="content-box-image"><img src="{% static "images/1933.jpg"%}" alt="Restaurant"></div>
                  <h3 class="content-box-title font-serif">Class-room</h3></a></div>
              <div class="col-md-4 col-sm-6 col-xs-12"><a class="content-box" href="index_finance.html">
                  <div class="content-box-image"><img src="{% static "images/abc.jpg"%}" alt="Finance"></div>
                  <h3 class="content-box-title font-serif">Find job</h3></a></div>
              <div class="col-md-4 col-sm-6 col-xs-12"><a class="content-box" href="index_landing.html">
                  <div class="content-box-image"><img src="{% static "images/25041.jpg"%}" alt="Landing"></div>
                  <h3 class="content-box-title font-serif">shopping</h3></a></div>
            </div>
          </div>
            </section>
     <section class="news-section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="titie-section wow fadeInDown animated ">
                            <h2 class="module-title font-alt">NOW IN TRENDING........</h2>
                        </div>
                    </div>
                </div>
                <div class="row" >
                    <div class="col-sm-4 wow fadeInDown animated" data-wow-delay="0.2s">
                        <div class="blog-item">
                            <a href="#"><img src="{% static "images/3616.jpg"%}" width="350" height="262" alt=""></a>
                            <h3>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean </h3>
                            <p>Nam nec tellus a odio tincidunt auc. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt</p>
                            <a href="#">APPLY NOW</a>
                        </div>
                    </div>
                    <div class="col-sm-4 wow fadeInDown animated" data-wow-delay="0.4s">
                        <div class="blog-item">
                            <a href="#"><img src="{% static "images/3616.jpg"%}" width="350" height="262" alt=""></a>
                            <h3>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean </h3>
                            <p>Nam nec tellus a odio tincidunt auc. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt</p>
                           <a href="#">APPLY NOW</a>

                        </div>
                    </div>
                    <div class="col-sm-4 wow fadeInDown animated" data-wow-delay="0.6s">
                        <div class="blog-item">
                            <a href="#"><img src="{% static "images/3616.jpg"%}" width="350" height="262" alt=""></a>
                            <h3>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean </h3>
                            <p>Nam nec tellus a odio tincidunt auc. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt</p>
                            <a href="#">APPLY NOW</a>
                        </div>
                    </div>
                </div>
            </div>
            </section>
            
<div class="clearfix"></div>
            
        <!--figure-element---->
            <h3 class="feature_title"><b>up-coming cities</b></h3>
              <div class="divider"></div>
          <section class="figure-elemet">
            <figure class="snip1566">
  <img src="{% static "images/gate-of-india.jpg"%}" alt="sq-sample14" />
  <figcaption><i class="glyphicon glyphicon-map-marker"></i></figcaption>
  <a href="#"></a>
</figure>
<figure class="snip1566 hover"><img src="{% static "images/rajpath.jpg"%}" alt="sq-sample17" />
  <figcaption><i class="glyphicon glyphicon-map-marker"></i></figcaption>
  <a href="#"></a>
</figure>
<figure class="snip1566"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample19.jpg" alt="sq-sample19" />
  <figcaption><i class="glyphicon glyphicon-map-marker"></i></figcaption>
  <a href="#"></a>
</figure>
<figure class="snip1566"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample20.jpg" alt="sq-sample20" />
  <figcaption><i class="glyphicon glyphicon-map-marker"></i></figcaption>
  <a href="#"></a>
</figure>
<figure class="snip1566"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample20.jpg" alt="sq-sample20" />
  <figcaption><i class="glyphicon glyphicon-map-marker"></i></figcaption>
  <a href="#"></a>
</figure>
 </section>
