{% extends "accounts/accounts.html" %}
{% load static %}
{% block content %}

<form method="post" class="login100-form validate-form">
    {% csrf_token %}
      <span class="error-message">{{ form.non_field_errors }}</span>
      <div class="wrap-input100 validate-input">
          {{ form.email }}
          <span class="focus-input100"></span>
      </div>
      <div class="container-login100-form-btn">
        <button class="login100-form-btn" style="margin-top: 30px;">
          Reset
        </button>
        <p style="padding: 40px 0px 0px 45px">
        <a href="/accounts/login" class="to_register">Back to login</a>
        </p>
      </div>
</form>
<script>
$('input').addClass('input100');
$("#id_email").attr('placeholder', 'Your Email')
</script>
{% endblock %}