{% extends "accounts/accounts.html" %}
{% load static %}
{% block content %}
<div class="login100-form validate-form">
	{% if validlink %}
	<form method="post">
		{% csrf_token %}
		<div class="wrap-input100 validate-input">
			{{ form.new_password1 }}
		<span class="focus-input100"></span>
		
		</div>
		<div class="wrap-input100 validate-input">
			{{ form.new_password2 }}
		<span class="focus-input100"></span>
		</div>
		<div class="container-login100-form-btn">
		<button class="login100-form-btn" style="margin-top: 40px;">
			Change password
		</button>
		</div>
	</form>
	{% else %}
	<div class="text-shadow-normal">
		<h2>
			The password reset link was invalid, possibly because it has already been used.
			Please request a new password reset.
		</h2>
	</div>
	{% endif %}
</div>
<script>
$('input').addClass('input100');
$("#id_new_password1").attr('placeholder', 'New Password')
$("#id_new_password2").attr('placeholder', 'Confirm Password')
</script>

{% endblock %}