{% extends "base.html" %}
{% load i18n static %}
{% block content %}
<!-- Navbar-->
{% include 'shared/nav.html' %}
<!--Navbar End -->
<div class="main" ng-app="HomeApp" ng-controller="Coachings" ng-init="init();">
    <section class="module-small">
	{% verbatim %}
        <div class="container-custom">
            <div class="row multi-columns-row">
                <div class="col-sm-3">
                    <form>
                        <div class="custom-input-flax">
                        <div class="input-group">
                            <input id="search" type="text" class="form-control search" name="search" placeholder="Search coaching.....">
                            <span class="input-group-addon search"><i class="fa fa-search" aria-hidden="true"></i></span>
                        </div>
                        </div>
                        <div class="custom-input-flax">
                            <select class="form-control" ng-change="feeTypeSelected()" name="selectedFeeType" id="selectedFeeType" ng-model="selectedFeeType">
                                <option value="">Select Fee Type</option>
                                <option ng-repeat="type in feeTypeList" value="{{type}}">{{type}}</option>
                            </select> 
                        
                        </div>
                        <div class="custom-input-flax">
                            <input type="range" ng-change="FeeChange()" class="slider" name="fee_value" ng-model="fee_value" min="100"  max="200000">
                            <span class="adon-span">
                                {{fee_value}} INR
                            </span>
                        </div>
                        <hr>
                        <div class="custom-input-flax">
                            <select class="form-control" ng-change="citySelected()" name="selectedCity" id="selectedCity" ng-model="selectedCity">
                                <option value="">Select city</option>
                                <option ng-repeat="city in cityList" value="{{city}}">{{city}}</option>
                            </select> 
                        </div>
                        <div class="custom-input-flax">
                            <input type="range" ng-change="locationChange()" class="slider" name="location_range" ng-model="location_range" min="5"  max="50">
                            <span class="adon-span">
                                {{location_range}} KM
                            </span>
                        </div>
                
                        <hr>
                
                        <div class="custom-input-flax">
                            <select class="form-control" ng-change="courseSelected()" name="selectedCourse" id="selectedCourse" ng-model="selectedCourse">
                                <option value="">Select Course</option>
                                <option ng-repeat="course in courseList" value="{{course}}">{{course}}</option>
                            </select>
                        </div>
                        <div class="custom-input-flax">
                            <button class="btn btn-block btn-round btn-g" ng-click="filterCoaching()">Find Coachings</button>
                        </div>
                    </form>
                </div>
                <div class="col-sm-9">
                    <div class="col-sm-3 col-md-3 col-lg-3" ng-repeat="list in getCoachinglist">
                        <div class="shop-item">
                            <div class="shop-item-image">
                                <img src="{{list.logo_link}}" alt="Accessories Pack"/>
                                <div class="shop-item-detail"><a class="btn btn-round btn-b" href="/coaching/admintion"><span class="fa fa-graduation-cap">Get Admition</span></a></div>
                            </div>
                            
                            <h4 class="shop-item-title font-alt"><a href="#">{{list.name}}</a></h4>
                            £9.00
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="pagination font-alt"><a ng-click="CoachingPrevious()"><i class="fa fa-angle-left"></i></a><a class="active" ng-repeat="page in pagination" ng-click="CoachingByPageNumber(page)"><span></span>{{page}}</a><a ng-click="CoachingNext()"><i class="fa fa-angle-right"></i></a></div>
                </div>
            </div>
        </div>
	{% endverbatim %}
    </section>
</div>
<!-- Footer-->
{% include 'shared/footer.html' %}
<!--Footer End -->
{% endblock %}