{% load static %}
<section class="home-section home-full-height bg-dark  parallax-bg -gradient" id="home">
    <div class="hero-slider">
        <ul class="slides">
            <li class="bg-dark-30 bg-gradient" style="background-image:url({% static "images/146875-OTNM5C-535.jpg"%}); z-index:0;">
            <div class="titan-caption">
                <div class="caption-content">
                    <div class="font-alt mb-30 titan-title-size-1">Find classrooms &amp; colleges </div>
                    <div class="font-alt mb-40 titan-title-size-4">Near you </div>
                    <a class="section-scroll btn btn-border-w btn-round" href="#about">APPLY-NOW</a>
                </div>
            </div>
            </li>
            <li class="bg-dark-30 bg-gradient" style="background-image: url({% static "images/2513975.jpg"%});">
            <div class="titan-caption">
                <div class="caption-content">
                    <div class="font-alt mb-30 titan-title-size-2">GET upto 50% OFF <br/> ON YOUR FIRST BOOKING
                    </div>
                    <a class="btn btn-border-w btn-round" href="about">BOOK-NOW</a>
                </div>
            </div>
            </li>
            <li class="bg-dark-30 bg-gradient" style="background-image: url({% static "images/2522847.jpg"%});">
            <div class="titan-caption">
                <div class="caption-content">
                    <div class="font-alt mb-30 titan-title-size-1">BOOK YOUR BEST COLLEGES AND CLASS-ROOMS</div>
                    <div class="font-alt mb-40 titan-title-size-3">NEAR YOU</div>
                    <a class="section-scroll btn btn-border-w btn-round" href="#about">FIND-NOW</a>
                </div>
            </div>
            </li>
            <li class="bg-dark-30 bg-gradient" style="background-image: url({% static "images/514343-PI8QLX-189.jpg"%});">
            <div class="titan-caption">
                <div class="caption-content">
                    <div class="font-alt mb-30 titan-title-size-1">"BE AN EXPERT"<br/>IN YOUR FIELD </div>
                    <div class="font-alt mb-40 titan-title-size-3">With SUCESS-FUll mentors</div>
                    <a class="section-scroll btn btn-border-w btn-round" href="#about">buy-now</a>
                </div>
            </div>
        </ul>
    </div>
</section>