{% load static %}
<div class="module-small bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="widget">
                    <h5 class="widget-title font-alt">COLLEGES NEAR YOU</h5>
                    <ul class="icon-list">
                        <li><a href="#">NOIDA</a></li>
                        <li><a href="#">GURUGRAM</a></li>
                        <li><a href="#">CHANDIGARH</a></li>
                        <li><a href="#">HARYANA</a></li>
                        <li><a href="#">DEHRADUN</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="widget">
                    <h5 class="widget-title font-alt">CLASSES NEAR YOU</h5>
                    <ul class="icon-list">
                        <li><a href="#">MUZAFFARPUR</a></li>
                        <li><a href="#">PATNA</a></li>
                        <li><a href="#">DELHI</a></li>
                        <li><a href="#">CHANDIGARH</a></li>
                        <li><a href="#">BIHAR</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="widget">
                    <h5 class="widget-title font-alt">JOB NEAR YOU</h5>
                    <ul class="icon-list">
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="widget">
                    <h5 class="widget-title font-alt">AMAZING OFFERS</h5>
                    <ul class="widget-posts">
                        <li class="clearfix">
                            <div class="widget-posts-image"><a href="#"><img src="{% static "images/2319296.jpg"%}" alt="Post Thumbnail"/></a></div>
                            <div class="widget-posts-body">
                                <div class="widget-posts-title"><a href="#">Designer Desk Essentials</a></div>
                            </div>
                        </li>
                        <li class="clearfix">
                            <div class="widget-posts-image"><a href="#"><img src="{% static "images/7445.jpg"%}" alt="Post Thumbnail"/></a></div>
                            <div class="widget-posts-body">
                                <div class="widget-posts-title"><a href="#">Realistic Business Card Mockup</a></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<hr class="divider-d">
<footer class="footer bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <p class="copyright font-alt">&copy; 2019&nbsp;<a href="index.html">CAREERMANIAA</a>, All Rights Reserved</p>
            </div>
            <div class="col-sm-6">
                <div class="footer-social-links"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-youtube-play"></i></a><a href="#"><i class="fa fa-instagram"></i></a><a href="#"><i class="fa fa-snapchat-ghost"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
